*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
    font-family: Helvetica, sans-serif;
    display: block;
}
#page-container {
    position: relative;
    min-height: 100vh;
}
/* Title */
#title {
    display: grid;
    grid-template-columns: 1fr;
}
.title, .subtitle  {
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem;
    overflow-wrap: break-word;
}
/* Header */
#logo img {
    width: 30px;
}
header {
    width: 100%;
    display: inline-block;
}
.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-bottom: 1rem;
    margin: 1rem;
}
.nav-left {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.nav-left a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
}
.nav-left a:hover {
    background-color: #2f3437;
    color: #e6e6e6;
}
.nav-right {
    padding: .5rem;
    display: block;
}
.nav-right img {
    width: 25px;
}
.nav-right img:hover {
    opacity: 0.5;
    cursor: pointer;
}
/* Projects */
#projects {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 1rem 1rem;
    align-items: center;
}
h3 {
    text-align: center;
}
.item {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}
.item img {
    width: 500px;
    height: 250px;
}
.item:hover {
    transform: scale(1.1);
}
@media (max-width: 425px) {
    .item img {
        width: 300px;
        height: 180px;
    }
}
/* Dark-mode */
.dark-mode {
    background-color: #2f3437;
    color: white;
}
.dark-mode a {
    color: white;
}
.dark-mode img {
    background-color: 2f3437;
}
.dark-mode a:hover {
    background-color: green;
}
.dark-mode button {
    background-color: green;
}
/* Footer */
footer {
    text-align: center;
    padding-bottom: 2rem;
}
#social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: .5rem;
}
#icon img {
    width: 50px;
    padding: 10px;
}
#icon img:hover {
    opacity: 0.5;
} 

