*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
    font-family: Helvetica, sans-serif;
    display: block;
    background-image: url(/images/bg-light.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#page-container {
    position: relative;
    min-height: 100vh;
}
/* Title */
#title {
    display: grid;
    grid-template-columns: 1fr;
}
.title {
    font-size: 2rem;
}
.title, .subtitle, .subtitle-subtitle  {
    text-align: center;
    padding: 0.4rem;
    margin: 0.4rem;
    overflow-wrap: break-word;
}
/* Header */
#logo img {
    width: 40px;
}
header {
    width: 100%;
    display: inline-block;
}
.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-bottom: 1rem;
    margin: 1rem;
}
.nav-left {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.nav-left a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: .5rem .8rem;
    text-decoration: none;
}
.nav-left a:hover {
    transform: scale(1.1);
}
.nav-right {
    display: flex;
    padding: .5rem;
}
/* Toggle Button */
.nav-right img {
    width: 40px;
}
.nav-right img:hover {
    transform: scale(1.1);
    cursor: pointer;
}
/* Projects */
#projects {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 1rem 1rem;
    align-items: center;
}
h3 {
    text-align: center;
}
.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#icon {
    margin: 1rem; 
} 
#icon img {
    width: 30px;
}
#icon img:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.item {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}
.item img {
    width: 500px;
    height: 250px;
}
.item:hover {
    transform: scale(1.1);
    cursor: pointer;
}
@media (max-width: 425px) {
    .item img {
        width: 300px;
        height: 180px;
    }
    .title {
        font-size: 1.5rem;
    }
}
/* Dark-mode */
.dark-mode {
    background-color: #2f3437;
    color: white;
    background-image: url(/images/bg-dark.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.dark-mode a {
    color: white;
}
.dark-mode .light-mode-credit {
    display: none;
}
.dark-mode .dark-mode-credit {
    display: block;
}
.dark-mode #toggle-button {
    background-image: url(/images/bg-light.jpg);
}
/* Footer */
footer {
    text-align: center;
    padding-bottom: 2rem;
    font-weight: bold;
}
#copyright {
    margin: .5rem;
    font-size: 1.2rem;
}
.light-mode-credit a{
    color: black;
    text-decoration: underline;
}
.dark-mode-credit {
    display: none;
}
.dark-mode-credit a {
    text-decoration: underline;
}


